@model TareaCalculadora.Models.Calculadora
@{
    ViewData["Title"] = "Venta de Producto";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <form asp-controller="Calculadora" asp-action="Calcular">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />

        <label asp-for="Precio" class="control-label"></label>
        <input asp-for="Precio" class="form-control" />
        <br>
        <label asp-for="Cantidad" class="control-label"></label>
        <input asp-for="Cantidad" class="form-control" />
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Vender</button>
        </div>
    </form>
    <h1>@ViewData["Message"]</h1>
</div>